.attributeButton{
    width: fit-content;
    background-color: var(--grey);
    border-radius: .5rem;
    min-width: 40px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.data{
    font-weight: 600;
    color: var(--blueDark);
    text-transform: uppercase;
    font-size: small;
}