.bookingTabInfo{
    background: var(--grey);
    border: none;
    border-radius: 6px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: var(--blueText);
    font-size: small;
    font-weight: 600;
    padding: 1rem;    
}


.separator{
    fill: var(--grey);
}