.cardCar{
    width: 968px;
    height: 269px;
    width: 100%;
    background-color: var(--blanco);
    border-radius: var(--border);
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    box-shadow: 1px 4px 15px 0px #0000001a;
    position: relative;
}

.cardCarHeader{
    height: 100%;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    border-right: 2px dotted var(--grey2);
    padding: 0 2rem;
    border-left: 10px solid var(--blueLight);
}

.cardCarContent{
    display: flex;
    flex-direction: column;
}


.group{
    font-size: small;
    font-weight: 600;
    color: var(--grey3);
    text-spacing-trim: normal;
    letter-spacing: 1px;
}


.class{
    font-weight: 600;
    color: var(--blueLight);
    font-size: 1.3rem;
}


.attributes{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    gap:1rem;
    padding: 1rem 0rem;
    border-bottom: thin solid var(--grey2);
}


