.pannelDetails{
    width: 293px;
    height: 229px;
    box-shadow: 0px 0px 8px 0px #0000001A;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.headerPannel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;    
}

.details{
    display: flex;
    gap: 1rem;
}

.details h3{
    font-weight: 600;
}

.clarification{
    line-height: normal;
    font-weight: 400;
    font-size: small;
    color: var(--grey4);
}


.separator{
    border: none;
    height: 1px;
    background-color: var(--grey5);
    width: 100%;
}


.price{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price h2{
    font-weight: 600;
    color: var(--blueLight);
    font-size: x-large;
}

.price h2 span{
    font-weight: 600;
    color: var(--blueLight);
}

.usd{
    font-size: small;
    color: var(--grey4);
}


.buttonAction{
    width: 100%;
    background-color: var(--blueLight);
    border: none;
    border-radius: .5rem;
    padding: 1rem 0rem;
    color: var(--blanco);
    font-weight: 600;
    font-size: medium;
}