:root {
  
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* FULL COLORS */
  --blueDark:#102C79;
  --blueText: #1E3050;
  --blueLight:#3179BD;
  --red: #E91248;
  --blanco:#ffffff;
  --black:#181818;
  --grey:#F1F3F6;
  --grey2:#C8CED9;
  --grey3:#ABB7CD;
  --grey4:#8292AA;
  --grey5:#E0E4EA;

  
  --error:#E12D39;
  --warning:#FDE12D;
  --success:#2DCCA7;

  /* SHAPES */
  --border: 18px;
}

@font-face {
  font-family: 'subset-GTWalsheim';
  src: url('/font/subset-GTWalsheim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'subset-GTWalsheim';
  src: url('/font/subset-GTWalsheim-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'subset-GTWalsheim';
  src: url('/font/subset-GTWalsheim-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color:var(--grey1);
  text-decoration: none;
  user-select: none;
  font-family: 'subset-GTWalsheim';
  font-weight: 400;
}



body {  
  /* padding: 0rem 4rem; */
  min-height: 100dvh;
  position: relative;
  /* max-width: 1440px;  */  
  /* margin: 0rem auto; */
  background-color: #F1F3F6;
}


@media only screen and (max-width: 850px){}